1<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <diV class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure class="errImg">
                            <img src="images/error.jpg" alt="subhransu" class="img-fluid d-block w-100 "
                                title="subhransu">
                        </figure>


                        <p>page not found</p>
                        <h1>{{errorMessage}}</h1>
                        <a href="/"><button type="button"  class="btn btn-primary">Go Back
                                me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>

</html>